{
  "parser": "@typescript-eslint/parser",
  "plugins": ["prettier", "@typescript-eslint"],
  "extends": [
    "plugin:prettier/recommended",
    "prettier",
    "airbnb",
    "airbnb-typescript",
    "airbnb/hooks",
    "plugin:@typescript-eslint/recommended",
    "plugin:@typescript-eslint/recommended-requiring-type-checking"
  ],
  "parserOptions": {
    "ecmaFeatures": {
      "jsx": true
    },
    "ecmaVersion": "latest",
    "sourceType": "module",
    "project": "./tsconfig.json"
  },
  "env": {
    "es6": true,
    "browser": true,
    "node": true
  },
  "rules": {
    "prettier/prettier": "error",
    "react/react-in-jsx-scope": "off",
    "react/function-component-definition": [
      2,
      {
        "namedComponents": "arrow-function"
      }
    ],
    "eol-last": "error",
    "jsx-quotes": ["error", "prefer-single"],
    "implicit-arrow-linebreak": "off",
    "import/prefer-default-export": "off",
    "object-curly-newline": [
      "error",
      {
        "ObjectExpression": "always",
        "ObjectPattern": { "multiline": true },
        "ImportDeclaration": "never",
        "ExportDeclaration": "never"
      }
    ],
    "react/jsx-props-no-spreading": "off",
    "no-underscore-dangle": ["error", { "allow": ["_id"] }]
  },
  "settings": {
    "import/resolver": {
      "typescript": {}
    }
  }
}
